<div class="container my-5">
    <h2 class="mb-4">Panel de Control del Administrador</h2>

    <!-- Spinner -->
    <div *ngIf="loading" class="spinner">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>

    <!-- Paneles de resumen -->
    <div [class.opacity-0]="loading" [class.pointer-events-none]="loading">
        <div class="row g-4 mb-5">
            <div class="col-md-3" *ngFor="let card of resumen">
                <div class="card text-dark text-center">
                    <div class="resumen-overlay"></div>
                    <div class="card-body">
                        <div class="dashboard-icon mb-2 d-flex justify-content-center align-items-center">
                            <img [src]="'assets/iconos/' + card.icono + '.png'" alt="icono" (load)="cuandoImagenCargada()"
                                (error)="cuandoImagenCargada()" />
                        </div>
                        <h5 class="card-title">{{ card.titulo }}</h5>
                        <p class="card-text">{{ card.valor }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Accesos rápidos -->
        <div class="row g-4">
            <div class="col-md-3" *ngFor="let acceso of accesos">
                <a [routerLink]="acceso.ruta" class="btn btn-outline-dark w-100 py-4 resumen-card">
                    {{ acceso.titulo }}
                </a>
            </div>
        </div>
    </div>


</div>