<div class="lista-datos">
    <h2>Lista de pacientes</h2>

    <div class="lista-datos__controles">
        <input type="text" [(ngModel)]="filtro" placeholder="Buscar por nombre, apellidos o historial"
            class="lista-datos__busqueda" />
    </div>

    <app-tabla-datos [datos]="pacientesFiltradosPaginados" [columnas]="columnas" [paginaActual]="paginaActual"
        [filasPorPagina]="itemsPorPagina" [orden]="columnaOrden" [ascendente]="direccionOrdenAsc"
        (ordenar)="ordenarPor($event)">
    </app-tabla-datos>

    <div class="lista-datos__paginacion" *ngIf="totalPaginas > 1">
        <button *ngFor="let pagina of paginas" (click)="paginaActual = pagina" [disabled]="pagina === paginaActual">
            {{ pagina }}
        </button>
    </div>
</div>