<div class="mb-3">
    <h2 class="text-2xl font-bold mb-4">Listado de usuarios</h2>

    <input type="text" [(ngModel)]="filtro" placeholder="Buscar pacientes o especialistas" class="form-control mb-3"
        (ngModelChange)="filtrarUsuarios()" />
</div>

<app-tabla-datos [datosTotales]="usuariosFiltrados" [columnas]="columnas" [templatesMap]="templatesMap"
    [columnaOrden]="columnaOrden" [direccionOrdenAsc]="direccionOrdenAsc" [paginaActual]="paginaActual"
    [itemsPorPagina]="itemsPorPagina" [maxPaginasVisibles]="maxPaginasVisibles" (ordenar)="ordenarPor($event)"
    (cambiarPagina)="cambiarPagina($event)"></app-tabla-datos>

<div *ngIf="loading" class="spinner">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
</div>

<!-- Templates para columnas especiales -->
<ng-template #nombreTemplate let-usuario>
    {{ usuario.nombre }} {{ usuario.apellidos }}
</ng-template>

<ng-template #accionesTemplate let-usuario>
    <button class="btn btn-outline-primary btn-sm me-1" (click)="editarUsuario(usuario)">Editar</button>
    <button class="btn btn-outline-danger btn-sm" (click)="confirmarEliminarUsuario(usuario)">Eliminar</button>
</ng-template>
<button class="btn btn-primary" (click)="nuevoUsuario()">Nuevo usuario</button>
<app-modal-edit-usuario *ngIf="modalVisible" [visible]="modalVisible" [esNuevo]="esNuevoUsuario"
    [usuario]="usuarioSeleccionado" [erroresExternos]="erroresModal" (guardar)="guardarUsuario($event)"
    (cerrar)="cerrarModal()">
</app-modal-edit-usuario>