<div class="auth-wrapper">
    <!-- Columna izquierda -->
    <div class="auth-info d-none d-md-flex">
        <div>
            <h2>Bienvenido a <br><strong>Revoluciona tu nutrición</strong></h2>
            <p>Transforma tu bienestar con una alimentación consciente, personalizada y sostenible.</p>
            <img src="../../../assets/images/img_03.png" alt="Imagen motivacional" class="img-fluid" />
        </div>
    </div>

    <!-- Columna derecha -->
    <div class="auth-form">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>