.usuario-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-weight: 500;
    margin-right: 1rem;
}

.avatar-iniciales {
    width: 30px;
    height: 30px;
    border-radius: 0.5rem;
    /* cuadrado suavizado */
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.nombre-usuario {
    color: white;
    font-weight: 500;
}