<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="text-2xl font-bold mb-4">Vista mensual de las citas</h2>
    <!-- Solo se muestra el botón si está permitido crear cita -->
    <button *ngIf="permitirCrearCitaPaciente" (click)="nuevaCita()" class="btn btn-primary">
        Nueva cita
    </button>
</div>


<app-calendario-citas *ngIf="!loading" [citas]="citas" (citaClick)="abrirModalInfoCita($event)"
    (citaCancelada)="cancelarCitaDesdeCalendario($event)">
</app-calendario-citas>

<h2 class="text-2xl font-bold mb-4">Listado de todas las citas</h2>

<div class="d-flex align-items-center gap-2 mb-3">
    <input type="text" [(ngModel)]="filtroTexto" placeholder="Buscar por especialistas" class="form-control ms-3"
        (ngModelChange)="filtrarCitas()" />
</div>

<app-tabla-datos [datosTotales]="citasFiltradas" [columnas]="columnas" [templatesMap]="templatesMap"
    [columnaOrden]="columnaOrden" [direccionOrdenAsc]="direccionOrdenAsc" [paginaActual]="paginaActual"
    [itemsPorPagina]="itemsPorPagina" [maxPaginasVisibles]="maxPaginasVisibles" (ordenar)="ordenarPor($event)"
    (cambiarPagina)="cambiarPagina($event)"></app-tabla-datos>

<!-- Mensaje si no hay resultados filtrados -->
<div *ngIf="!loading && citasFiltradas.length === 0" class="alert alert-info mt-3 text-center">
    No hay citas programadas para esta fecha o no coinciden con el filtro aplicado.
</div>

<!-- Mensaje si no se pudieron cargar citas -->
<div *ngIf="!loading && citas.length === 0 && huboError" class="alert alert-danger mt-3 text-center">
    Ocurrió un error al cargar las citas. Inténtalo nuevamente más tarde.
</div>

<ng-template #accionTemplate let-cita>
    <button *ngIf="cita.estado === 'pendiente'" class="btn btn-outline-danger btn-sm" (click)="cancelarCita(cita)">
        Cancelar
    </button>
    <button *ngIf="puedeUnirseACita(cita)" class="btn btn-sm btn-outline-success" (click)="unirseAVideollamada(cita)">
        <i class="bi bi-camera-video"></i> Unirse
    </button>
</ng-template>

<app-modal-nueva-cita *ngIf="modalVisible" [modalVisible]="modalVisible" [idEspecialista]="especialista?.id"
    (cerrado)="modalVisible = false" (creada)="obtenerCitas(); modalVisible = false">
</app-modal-nueva-cita>

<app-modal-info-cita *ngIf="modalInfoCitaVisible && citaSeleccionada" [citaSeleccionada]="citaSeleccionada"
    [esEspecialista]="false" (cerrado)="modalInfoCitaVisible = false" (cancelar)="cancelarCitaDesdeCalendario($event)">
</app-modal-info-cita>

<div *ngIf="loading" class="spinner mt-3">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
    </div>
</div>