<!-- <div class="calendario-wrapper">
    <full-calendar [options]="calendarOptions" class="border rounded shadow-sm p-2"></full-calendar>
</div> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto">
            <div class="calendario-reducido mb-3">
                <full-calendar [options]="calendarOptions"></full-calendar>
            </div>
        </div>
    </div>
</div>

<app-modal-info-cita *ngIf="citaSeleccionada" [citaSeleccionada]="citaSeleccionada" [colorSistema]="colorSistema"
    (cerrado)="cerrarModal()">
</app-modal-info-cita>