
/* Estilos para el modal */
.container-clientes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: auto;
    width: auto;
    background-color: #D9D9D9;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
/* Estilos para el encabezado del modal */
.header-clientes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* Estilos para el título del modal */
#contenedor-busqueda{
    position: relative;
}
/* Estilos para el botón de búsqueda */
#contenedor-filtros{
    display: flex;
    margin: 10px;
}
/* Estilos para el contenedor de filtros */
#contenedor-filtros input{
    margin: 0 30px 0px 5px;
    border-radius: 20px 5px 5px 20px;
    border: 0;
}
/* Estilos para el contenedor de filtros al pasar el mouse */
#contenedor-filtros input{
    margin: 0 30px 0px 5px;
    border-radius: 15px 5px 5px 15px;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}
/* Estilos para el contenedor de filtros al pasar el mouse */
#contenedor-filtros input:active, #contenedor-filtros input:focus{
    outline: none;
    border: 1.25px solid #1500ff;
    scale: 1.02;
}
/* Estilos para el botón de búsqueda al pasar el mouse */
.header-clientes button{
    background-color: #009975;
    color: white;
    border-radius: 10px;
    border: 0;
    width: 200px;
    height: 40px;
    margin-right: 20px;
}
/* Estilos para el botón de búsqueda al pasar el mouse */
#contenedor-busqueda input{
    padding: 15px;
    border: 0;
    border-radius: 28px;
    padding-left: 30px;
}
/* Estilos para el botón de búsqueda al pasar el mouse */
#icono-search{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
}
/* Estilos para el icono de búsqueda al pasar el mouse */
#tabla-clientes{
    margin-top: 10px;
    width: 100%;
}
/* Estilos para la tabla de clientes */
#tabla-clientes th{
    background-color: #376AA8;
    color: white;
    padding: 10px;
}
/* Estilos para la tabla de clientes */
#tabla-clientes th,td{
    font-size: 12px;
    text-align: center;
}
/* Estilos para las celdas de la tabla de clientes */
#tabla-clientes tr:nth-child(odd){
    background-color: #fff;
}
/* Estilos para las celdas de la tabla de clientes */
#tabla-clientes tr:nth-child(even){
    background-color: #376aa845;
}
/* Estilos para las celdas de la tabla de clientes */
#tabla-clientes th:last-child,td:last-child{
    border-right: 0;
}
